* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  /*border: 1px solid #fff;   For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
}

.login{
  margin-left: 26px;
}

.header-container{
  display: flex;
  justify-content: center;
  background-color: #D6E9FE;
}

/* for playing with align-items: stretch in .header rule 
.subscribe, .logo, .social {
  border: 1px solid red;
}
*/

.header{
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 200px;
  align-items: center;
}


.photo-grid-container{
  display: flex;
  justify-content: center;
}


.photo-grid{
  display: flex;
  width: 900px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  
  

  /*
  in flex-direction: row, for horizontal alignment we use justify-content property and for vertical alignment we use align-items property...
  in flex-direction: column, for horizontal alignment we use align-items property and for vertical alignment we use justify-content property...
  */
}

.photo-grid-item {
  border: 1px solid #f7f1f1;
  width: 300px;
  height: 300px;
}

.first-item{
  order: 1
}

.last-item{
  order: -1
}

.subscribe, .social{
  align-self: flex-end;
  margin-bottom: 20px;
}